<?xml version="1.0"?>
<robot name="visual" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="core.urdf.xacro"/> 
    <xacro:include filename="camera.urdf.xacro"/> 
    <xacro:include filename="lidar.urdf.xacro"/> 
    <xacro:include filename="inertial_measuring_unit.urdf.xacro"/> 

    <ros2_control name="my_robot_hardware" type="system">
        <hardware>
             <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <!-- Описание управляемых шарниров -->
        <joint name="left_front_wheel_joint">
            <command_interface name="velocity"/><!-- управляем скорость колеса -->
            <state_interface name="position"/><!-- состояние: пройденный угол -->
            <state_interface name="velocity"/><!-- состояние: текущая скорость -->
        </joint>
        <joint name="right_front_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="left_rear_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_rear_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robot_tppo)/config/diff_drive_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
